
@model List<Producto>

@{
    ViewData["Title"] = "Lista de productos";
    
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="../Views/styles.css" />

<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Producto")'">Nuevo producto</button>
<b\>
<p>En esta página se muestran los productos</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <th scope="row">@item.IdProducto</th>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Cantidad</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-action="Delete" class="btn btn-secondary" title="Eliminar"><i class="bi bi-trash3"></i></a>
                            <button type="button" class="btn btn-secondary" title="Editar"><i class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-secondary" title="Ver"><i class="bi bi-eye-fill"></i></button>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
